@model MassMailWeb.Models.Email
@using MassMailWeb.Models

<head>
    <title>MassMail</title>
</head>

<form method="post" asp-controller="Home" asp-action="Index" class="container align-items-center vertical-center" enctype="multipart/form-data">
	<div class="card">
		<div class="inputbox">
			<input asp-for="From" placeholder="De" class="form-control" value="@Cookies.From"/>
			<span asp-validation-for="From" style="color: red;"></span>
		</div>
		<div class="inputbox">
			<input asp-for="Password" placeholder="Senha" type="password" class="form-control"/>
			<span asp-validation-for="Password" style="color: red;"></span>
		</div>
		<div class="inputbox">
			<input asp-for="ToField" placeholder="Para" class="form-control" value="@Cookies.To"/>
			<span asp-validation-for="ToField" style="color: red;"></span>
		</div>
		<div class="mt-2 proceed">
			<div class="form-check mb-1">
				<input type="checkbox" class="form-check-input" asp-for="BccOrNot" id="flexCheckDefault"/>
				<label asp-for="BccOrNot"></label>
			</div>
		</div>
		<div class="inputbox">
			<input asp-for="Subject" placeholder="Assunto" class="form-control" value="@Cookies.Subject" />
			<span asp-validation-for="Subject" style="color: red;"></span>
		</div>
		<div class="inputbox">
			@if(Cookies.Body != null)
			{
				<textarea asp-for="Body" class="form-control" rows="6" placeholder="Mensagem" id="body-field">@Cookies.Body</textarea>
			}
			else
			{
				<textarea asp-for="Body" class="form-control" rows="6" placeholder="Mensagem" id="body-field"></textarea>
			}
			<span asp-validation-for="Body" style="color: red;"></span>
		</div>
		<div class="mt-2 proceed">
			<div class="form-check mb-1">
				<input type="checkbox" asp-for="HtmlOrNot" class="form-check-input" id="flexCheckDefault"/>
				<label asp-for="HtmlOrNot"></label>
			</div>
		</div><br />
			<label for="choose-body-template">Importar mensagem (.txt, .html)</label>
			<input type="file" class="form-control form-control-sm" id="choose-body-template" accept=".txt,.html"/><br />

			<script type="text/javascript">
				document.getElementById('choose-body-template').addEventListener('change', function() {
					var fr=new FileReader();
					fr.onload=function(){
						document.getElementById('body-field').textContent=fr.result;
					}
              
					fr.readAsText(this.files[0]);
				})
			</script>
		<div class="row-auto col-6">
			<label for="choose-attachments">Anexar arquivo(s)</label>
			<input type="file" class="form-control form-control-sm" asp-for="Attachments" id="choose-attachments" multiple/>
		</div><br /><br />
		<div class="mt-2 proceed">
			<button type="submit" class="btn btn-primary btn-block" value="Enviar">Enviar</button>
		</div>
	</div>
</form>

@if (ViewBag.SentSuccessfully)
{
	<script type="text/javascript">
		window.onload = function(){
			alert("E-mail enviado com sucesso!");
		}
	</script>
}
