#history-table{
    margin: 0 auto;
    height: 100px;
    position: absolute;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

#delete-history {
    position: absolute;
    margin-top: 900px;
}